.main_button {
  color: white;
  background-color:#C364DB;
  background: linear-gradient((174deg, rgba(251, 171, 251, 1) 0%, rgba(201, 116, 190, 1) 38%, rgba(168, 78, 171, 1) 100%));
  padding: 1rem;
  border-radius: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  min-width: 10rem;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: linear-gradient((174deg, rgb(238, 129, 238) 0%, rgb(195, 89, 181) 38%, rgb(145, 55, 148) 100%));

  }
}

.heartbutton {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover .heart::before {
    content: "\f004";
    font-weight: bold;
    font-size: 1em;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#ff79da));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: fill-my-heart;
    animation-duration: 3000ms;
  }

  & .heart {
    font-size: x-large;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}
